*{
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
}

#banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 15px solid #ff8138;
}

.logo img{
    width:10rem;
}

.logo2{
    display: flex;
    align-items: center;
}
.logo2 img{
    width: 13rem;
    margin: 10px;
    
}



#panel{
    background: url(../images/fondo.png) 100% no-repeat;
    height: 76vh;
    background-position: center top !important;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
    
}

.panel-ingreso{
    display:inline-block;
    border-radius: 0px 0px 10px 10px;
    background: white;

}

.ingreso p{
    background:rgba(102,153,0,255);
    padding: 12px 0px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
.ingreso span{
    color: white;
    font-weight: 100;
    font-size: .7em;
}
.tipo p{
    padding:10px 20px;  
    font-size: .8em;
    text-align: center;
}

#doc{
    border: 1px solid #c5c5c5;
    padding: 10px;
    margin-top: 10px;
    color: #555555;
}

.documento{
    display: flex;
    flex-direction: column;
    padding:10px 20px;
    font-size: .8em;
    
}
label{
    margin-left: 10px;   
}
input ::placeholder{
    color: #c5c5c5;
    border-radius: 5px;
}
input{
    border-radius: 5px;
    outline: none;
}
.contraseña{
    display: flex;
    flex-direction: column;
    padding:10px 20px;
    font-size: .8em;
}

#contra{
    border: 1px solid #c5c5c5;
    padding: 10px;
    margin-top: 10px;
    color: #555555;
}
.olvido{
    display: flex;
    flex-direction: column;
    padding:10px 20px;
    text-align: center;
}
.olvido img{
    width: 18px;
}
.olvido a{
    color: #369;
    text-decoration: none;
    font-size: 12px;
    padding-bottom: 5px;
    font-weight: 600;
}
.olvido a:hover{
    text-decoration:underline;
}


.selector{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid #c5c5c5;
    width: 70%;
    border-radius: 5px;
    
}
#formato{
    color: #555555;
    cursor: pointer;
    width: 13rem;
    font-weight: 100;
    border: none;
    outline: none;
}

#formato option{
    color: grey;
}
.ingresar{
    background: rgba(102,153,0,255);
    text-align: center;
    width: 70%;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-left: 40px;
}

.ingresar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 3px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    padding: 10px;
    justify-content: center;
    
}
#doc:focus, #contra:focus, .selector:focus{
    box-shadow: 0 0 10px rgba(41,127,197, 0.507);
}

footer{
    margin-top: auto;  
}
#footer{
    background-color: #ff8138;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.imagen-footer img{
    width: 11rem;
    margin-right:30px ;
}

.texto-footer p{
    color: white;
    font-size: 15px;
}
.texto-footer span{
    margin-left: 25px;
}
