 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    
}
*{
    margin: 0;
    box-sizing: border-box;
}
h1{ 
    margin: 0;
}

:root{
    --padding-container:100px 0;
    --color-title:#001A49;
}
header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
}

.hero{
    width: 100%;
    height: 100%;
    min-height: 100px;
    max-height: 800px;
    display: grid;
    grid-template-rows: 110px 1fr;
    
    overflow: hidden;
}
header.down{
    background: rgb(192, 217, 255);
    padding: 5px 0px;
}
header.down .nav_links{
    color: black;
}

.abajo{
    background: rgb(37, 37, 37);
    padding: 15px 20px;
}
.nav{
    --padding-container:0;
    display: flex;
    align-items: center;
    margin:0 100px;
}
.nav_title{
    width: 150px;
    cursor: pointer;
}

.nav_items{
    list-style: none;
}

.nav_links{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

.nav_links:hover{
    background: rgba(255, 255, 255, 0.315);
}
.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.nav_img{
    display: block;
    width: 30px;
}
.nav_close{
    display: var(--show, none);
}
.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.banner:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../images/canasta.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}
.banner{
    color: #fff;
    display: grid;
    grid-template-columns:auto;
    justify-content: center;
    margin-bottom: 100px;
}

.hero_tittle{
    font-size: 3rem;
}
.hero_paragraph{
    margin-bottom: 20px;
}
.cta{
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 30px;
    color: white;
    transition: all 0.3s;
}
.cta:hover{
transform: scale(1.1);
}

.hero_container{
    max-width: 800px;
    display: grid;
    grid-auto-rows:max-content ;
    align-content: center;
    gap: 1em;
    text-align: center;
    padding-top: 150px;
    margin-bottom: 350px;
}

/* Slider */

.slider_auto{
    width: 100%;
    height: auto;
    background: rgba(92, 88, 88, .6);
    
}

.slider_container{
    max-width: 800px;
    height: auto;
    margin:0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slider img{
    width: 100%;
    vertical-align: middle;
}
.prev-button,
.next-button{
    width: 40px;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    color: rgba(240,240,255,0.7);
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
}
.prev-button{
    left: 0;
}

.next-button{
    right: 0;
}
.prev-button:hover,
.next-button:hover{
    color: white;
}

.lines{
    position: absolute;
    display: flex;
    bottom: 10px;
    
}
.line{
    padding:1.5px 10px ;
    margin: 0 3px;
    background-color: rgba(240,240,255,0.7);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.active,
.line:hover{
    background-color: white;
}

.slider{
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from{
        opacity: 0.5s;
    }
    to{
        opacity: 1;
    }
}

/* responsive slider */

@media (max-width:768px){
    .prev-button,
    .next-button{
        font-size: 20px;
    }
    .line{
        padding: 1px 8px;
    }
}

/* About */


.about{
    text-align: center;
    margin-top: 200px;
}
.subtitle{
    --color-title:#001A49;
    font-size:2rem ;
    margin-bottom: 25px;
}
.about_main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}
.about_paragraph{
    line-height: 1.7;
}

.about_icons{
    display:grid;
    gap: 1em;
    justify-items: center;
    width: 300px;
    overflow: hidden;
    margin:0 auto ;
}

.about_icon{
    width: 300px;
}


@media (max-width:768px){
    .nav_menu{
        display: block;
    }
    .nav{
        background: none;
        
    }
    .hero{
        padding: none;
    }

    .nav_link-menu{
        position: fixed;
        background-color: rgb(134, 204, 134);
        top: 0;
        right: 0;
        height: 100vh;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition:all 0.7s;
        
    }
    
    .nav_link--show{
        --show:block;
        opacity: 1;
        pointer-events: unset;
        
    }
    .nav_close{
        position: fixed;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }
    .hero_tittle{
        font-size: 2.5rem;
    }
    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, .5);
        display: none;
    }
}