 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    
}
*{
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
h1{ 
    margin: 0;
}

:root{
    --padding-container:100px 0;
    --color-title:#001A49;
}
header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
}

.hero{
    width: 100%;
    height: 100%;
    min-height: 100px;
    max-height: 800px;
    display: grid;
    grid-template-rows: 110px 1fr;
    
    overflow: hidden;
}

header.down{
    background: rgb(186, 243, 153);
    padding: 5px 0px;
}

header.down .nav_links{
    color: black;
    
}
header.down .nombre{
    color: black;
    
}
header.down .subnombre{
    color: black;
    
}
header.down .container-icon{
    color: black;
}




.abajo{
    background: rgb(37, 37, 37);
    padding: 15px 20px;
}
.nav{
    --padding-container:0;
    display: flex;
    align-items: center;
    margin:0 100px;
}
.nav_title{
    width: 100px;
    cursor: pointer;
    margin-right: 10px;
}

.nombre,
.subnombre{
    color: #fff;
}

.nav_items{
    list-style: none;
}

.nav_links{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_links:hover{
    background: rgba(255, 255, 255, 0.315);
}
.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.nav_img{
    display: block;
    width: 30px;
}
.nav_close{
    display: var(--show, none);
}
.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

#banner:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../images/canasta.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}
#banner{
    color: #fff;
    display: grid;
    grid-template-columns:auto;
    justify-content: center;
    margin-bottom: 100px;
}

.hero_tittle{
    font-size: 3rem;
}
.hero_paragraph{
    margin-bottom: 20px;
}
.cta{
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 30px;
    color: white;
    transition: all 0.3s;
}
.cta:hover{
transform: scale(1.1);
}

.hero_container{
    max-width: 800px;
    display: grid;
    grid-auto-rows:max-content ;
    align-content: center;
    gap: 1em;
    text-align: center;
    padding-top: 280px;
    margin-bottom: 250px;
}


/* carrito */

.hidden-cart{
    display: none;
}

.container-icon{
    position: relative;
    color: #fff;
    cursor: pointer;
}
.count-products{
    position: absolute;
    top: 50%;
    right: 90px;
    background-color: #000;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contador-productos{
    font-size: 10px;
}

.icon-cart{
    cursor: pointer;
}
.container-cart-products{
    position: absolute;
    top: 75px;
    right: 115px;
    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow:0 10px 20px rgba(0,0,0, 0.20);
    border-radius: 10px;
}

.cart-product{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0,0,0, 0.20);
    align-items: center;

}
.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.9;
}

.cart-total{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
}

.total-pagar{
    font-weight: bold;
}

.icon-close{
    cursor: pointer;
}


/* Slider */

.slider_auto{
    width: 100%;
    height: auto;
    background: rgba(92, 88, 88, .6);
   
    
}

.slider_container{
    max-width: 800px;
    height: auto;
    margin:0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slider img{
    width: 100%;
    vertical-align: middle;
}
.prev-button,
.next-button{
    width: 40px;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    color: rgba(240,240,255,0.7);
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    transition: all 0.3s;
}
.prev-button{
    left: 0;
}

.next-button{
    right: 0;
}
.prev-button:hover,
.next-button:hover{
    color: white;
    transform: scale(1.1);
}

.lines{
    position: absolute;
    display: flex;
    bottom: 10px;
    
}
.line{
    margin: 0 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.active:hover{
    background-color: white;
}

.slider{
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from{
        opacity: 0.5s;
    }
    to{
        opacity: 1;
    }
}

/* responsive slider */

@media (max-width:768px){
    .prev-button,
    .next-button{
        font-size: 20px;
    }
    .line{
        padding: 1px 8px;
    }
}

/* About */


.about{
    text-align: center;
    padding-top: 160px;
}

.about_tittle{
    padding-top:20px ;
}
.subtitle{
    --color-title:#001A49;
    font-size:2rem ;
    margin-bottom: 25px;
}
.about_main{
    padding-top: 60px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 2em;
    overflow: hidden;
    grid-template-columns:1fr 1fr 1fr 1fr;
    padding-bottom: 30px;
}
.about_paragraph{
    line-height: 1.7;
}

.about_icons{
    padding-bottom: 10px;
    display:grid;
    justify-items: center;
    width: 300px;
    overflow: hidden;
    margin:0 auto ;
    border-radius: 10px;
    transition: all 0.3s;

}


.carrito{
padding: 5px 30px;
border-radius: 10px;
display: flex;
text-decoration: none;
background: rgba(108, 20, 250, 0.932);
color: #fff;
transition: all 0.3s;
justify-content: center;
align-items: center;
cursor: pointer;
border: none;
}
.image-carrito{
    padding-right: 5px;
    
}
.carrito:hover{
    box-shadow: rgb(58, 58, 58) 0px 0.125rem 0.5rem;
}

.about_icons:hover{
    box-shadow: rgba(16, 0, 79, 0.322) 0px 0.125rem 0.5rem;
}



.about_icon{
    width: 300px;
    transition: all 0.3s;
    overflow: hidden;
}

.about_icon:hover{
    transform: scale(1.1);
}


@media (max-width:768px){
    .nav_menu{
        display: block;
    }
    .nav{
        background: none;
        
    }
    .hero{
        padding: none;
    }

    .nav_link-menu{
        position: fixed;
        background-color: rgb(134, 204, 134);
        top: 0;
        right: 0;
        height: 100vh;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition:all 0.4s ease-in-out;
        
    }
    
    .nav_link--show{
        --show:block;
        opacity: 1;
        pointer-events: unset;
        
    }
    .nav_close{
        position: fixed;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }
    .hero_tittle{
        font-size: 2.5rem;
    }
    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, .5);
        display: none;
    }
}

/* Knowledge */

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.knowledge{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow:hidden ;
}

.knowledge_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}
.knowlegde_picture{
    max-width: 100px;
}
.knowledge_paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}
.knowledge_img{
width: 100%;
display: block;
}
.cta-puntos{
    margin-left: 10px;
}

/* price */


.price{
    text-align: center;
}
.price_table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price_element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan:#696871;
    --color-price:#1D293F;
    --bg-cta:#fff;
    --color-cta:#5454D4;
    --color-items:#696871;
    transition: all 0.3s;
}



.price_element:hover{
    transform: scale(1.1);
}

.price_name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.price_price{
    font-size: 2.5rem;
    color: var(--color-price);
}

.price_items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color:var(--color-items);
}

/* .price_cta{
    background-color: var(--bg-cta);
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
    color: var(--color-cta);
    overflow: hidden;
} */



.price_cta{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    text-decoration: none;
    background: #fff;
    color: #5454d4;
    font-weight: 600;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.price_cta span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.price_cta::after{
  content: ""; 
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transition: .3s ease-in-out all;
  border-radius:100px;
  transform-origin:center ;
}

.price_cta:hover::after{
    transform: scale(200);
    background: #5454D4;
}
.price_cta:hover{
    color: #fff;
    background:#6464caef;
}

.price_element--best{
    background-color: #ff7143;
    --color-plan:rgb(255 255 255 / 75%);
    --color-price:#fff;
    --bg-cta:#9f3919;
    --color-cta:#fff;
    --color-items:#fff;
    width: 370px;
    padding: 60px 40px;
}

/* questions */


.questions{
    text-align: center;
}
.questions_container{
    display: grid;
    gap: 2em;
    padding: 50px;
    padding-bottom: 100px;
}
.questions_padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454d4;
    border-radius: 6px;
}
.questions_padding--add{
    padding-bottom: 30px;
}

.questions_answer{
    padding: 0 30px 0;
    overflow: hidden;
}
.questions_title{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
    
}

.questions_arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}

.question_arrow--rotate{
    transform: rotate(180deg);
}
.questions_show{
    text-align: left;
    height: 0;
    transition: height .3s;
}
.questions_img{
    display: block;
}

/* footer */


.footer{
    padding:5px 30px;
    background-color: #1D293F;
}

.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    text-align: center; 
}
.footer_paragraph{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.footer_paragraph:hover{
    text-decoration: underline;
}

.footer_copy{
    text-align: center;
    color: #fff;
}
.footer_copyright{
    font-size: 0.8rem;
    font-weight: 300;
}
.footer_img{
    width: 40px;
    padding: 0 5px;
}

.redes{
    color: #fff;
    padding: 5px 0;
}
.footer_social{
    justify-content: center;
    align-items: center;
}


/* texto de carrito vacio*/

.cart-empty{
    padding: 20px;
    text-align: center;
}

.hidden{
    display: none;
}
