*{
    margin: 0;
    padding: 0;
    
    }
    body{
      background: whitesmoke;
    }
 #personas {
    padding: 20px 20px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    text-align: center;
    
 }

 #personas div{ 
    padding: 0px 0px;
    border-radius: 15px;
 }
 #personas img{
    border-radius:15px;
    width:400px;
 }
 .destinos {
    margin: 0 20px;
    border-radius: 30px;
    transition: all 0.4s;
    
 }
 .destinos:hover{
   box-shadow: 1px 3px 3px 0px grey;
   transform: scale(1.1);
}
 .destinos h2 {
    text-align: left;
    padding: 2px 15px 10px;
    font-family:"Yu Gothic UI Light";
    font-weight: bold;
    font-size: 15px;
    color: rgb(27, 0, 136);
    background:rgb(225, 225, 225) ;
    border-radius: 10px 10px 0px 0px; 
    position:relative ;
    top: -20px;
 }

 .destinos h4{
   border-radius: 10px 10px 0 0px;
   text-align: left;
   padding:0 15px;
   justify-items: baseline;
    font-family:"Yu Gothic UI Light";
    font-weight: 500 bold;
    font-size: 25px;
    position: relative;
    top: -25px;
    border: 1px solid red;
    z-index: 1;
 }

 .destinos p{
   padding: 0px 9px;
   margin: 5px 0px;
    font-family:"Yu Gothic UI Light";
    font-weight: 500;
    font-size: 15px;
    background: rgb(199, 199, 199);
    display: inline-block;
    border-radius: 20px;
    color:rgb(27, 0, 136);
    position: relative;
    top: -5%;
    right: 100px;
 }
 .destinos h3{
   padding: 0px 9px;
  
    font-family:"Yu Gothic UI Light";
    font-weight: 500;
    font-size: 15px;
    background: rgb(199, 199, 199);
    display: inline-block;
    border-radius: 20px;
    position: relative;
    top: -5%;
    right: 95px;
 }
 .precio{
   text-align: left;
   padding: 0px 15px;
   margin: 5px 0px;
    font-family:"Yu Gothic UI Light";
    font-weight: bold;
    font-size: 15px;
    position: relative;
    top: -15px;
 }
 .cop{
   text-align: left;
   padding: 0px 15px;
   margin: 5px 0px;
    font-family:"Yu Gothic UI Light";
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top: -15px;
 }
 .iva{
   text-align: left;
   padding: 0px 15px;
    font-family:"Yu Gothic UI Light";
    font-size: 12px;
    position: relative;
    top: -15px;
    
 }
 