*{
    margin: 0;
    padding: 0;
    
    }
    
 #personas {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    
 }

 #personas div{ 
    padding: 0px 0px;
    border-radius: 15px;
 }
 #personas img{
    border-radius:15px;
    width:400px;
 }
 .destinos {
   flex-direction: column;
   justify-content: center;
   display: block;
    margin: 0 20px;
    border-radius:0.5rem;
    border-color: rgb(48, 48, 48);
    transition: all 0.3s;
    box-shadow: rgb(16 0 79 / 12%) 0px 0.125rem 0.5rem;
    cursor: pointer;
    
 }
 .destinos:hover{
   box-shadow: 1px 3px 3px 0px grey;
   transform: scale(1.1);
}
 .destinos h2 {
    text-align: left;
    padding: 2px 15px 10px;
    font-family:"Yu Gothic UI Light";
    font-size: 15px;
    color: rgb(27, 0, 136);
    background:rgb(223, 226, 246) ;
    border-radius: 10px 10px 0px 0px; 
    position:relative ;
    top: -20px;
 }

 .destinos h4{
   border-radius: 10px 10px 0 0px;
   text-align: left;
   padding:0 15px;
   justify-items: baseline;
    font-family:"Yu Gothic UI Light";
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top: -25px;
    z-index: 1;
    background: whitesmoke;
    
 }

 .destinos p{
   
   padding: 0px 9px;
   margin: 5px 0px;
    font-family:"Yu Gothic UI Light";
    font-weight: 500;
    font-size: 1rem;
    background: rgb(238, 237, 249);
    display: inline-block;
    border-radius: 20px;
    color:rgb(27, 0, 136);
    position: relative;
    top: -1rem;
    right: 100px;
    font-weight:400;
 }
 .destinos h3{
   padding: 0px 9px;
    font-family:"Yu Gothic UI Light";
    font-weight: 500;
    font-size: 15px;
    background: rgb(238, 237, 249);
    display: inline-block;
    border-radius: 20px;
    position: relative;
    top: -1rem;
    right: 95px;
    
 }
 .precio{
   text-align: left;
   padding: 0px 15px;
   margin: 5px 0px;
    font-family:"Yu Gothic UI Light";
    font-size: 15px;
    position: relative;
    top: -15px;
 }
 .cop{
   text-align: left;
   padding: 0px 15px;
   margin: 5px 0px;
    font-family:"Yu Gothic UI Light";
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top: -15px;
 }
 .iva{
   text-align: left;
   padding: 0px 15px;
    font-family:"Yu Gothic UI Light";
    font-size: 12px;
    position: relative;
    top: -15px;
    
 }

 @media(max-width:768px){
   #personas{
      flex-direction: column;
   }
   .destinos{
      display: block;
      margin:20px auto;
      
   }
 }

 