*{
   margin: 0;
   padding: 0;
    
}
body{
    font-family: sans-serif;
    background-color: white;
    margin:0;
    display: flex;
    flex-direction: column;
    min-width:100vh;
}
a{
    text-decoration: none;
}
#panel ul li{
    display:inline-block  
}
#panelul li a{
    color:white;
    padding: 20px;
    display: block;
    font-family:"Times New Roman";
    font-size:20px;
    font-weight:bold;
}
#panel ul li a:hover{
    background-color:rgb(75, 60, 216);
    border-radius: 25px;
}
header{
    
    display: flex;
    height: 60px;
    background-color: rgb(4, 6, 87); 
    align-items:center;
    justify-content: space-between;
    padding: 10px;
    
}
.latam{
    display: flex;
}
.latam img{
    height:60px; 
    margin-left: 120px;

}
p {
    position:absolute;
   top: 35%;
  left: 15%;
    text-align: justify;
    margin: 20px;
    font-family:"Segoe UI Light";
  font-size:17px;
  color: rgb(13, 13, 139);
}
.club {
    color:blue;
   display: flex;
   left: 1500px;
   top: -5px;
   position: relative;
}

.club-img {
    display: flex;
    left: 1480px;
    top:10px;
    position: relative;
 }
 footer{
    float: right;
    display: flex;
    width: 1900px;
    height: 60px;
    background-color: rgb(195, 194, 197);
    align-items:center;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
    display: inline-block;
    top: 150%;
    margin-top: auto;
 }
 #latamsinfondo{
    display: flex;
    margin-right: 20px;
    
    
 }
 #latamsinfondo img {
    height:30px;
    margin-left: 20px;
    margin-right: 20px;
    
 }
 .derecha{
    float: right;
 }
 .publicidad{
    display: flex;
    justify-content: center; 
 }

.textopublicidad {
   position:absolute;
   top: 15%;
  left: 15%;
  font-family:"Segoe UI Light";
  font-size:40px;
  color: rgb(13, 13, 139);
  text-align: justify;
}
.publicidad img{
    border-radius: 1px 1px 50px 50px;
}
#panel2 ul{
    
    margin: 0px;
    padding: 3px;
}

#panel2 ul li{
    margin: -3px -3px -3px -3px;
    display:inline-block
}
#panel2{
    position: absolute;
    top: 47%;
    margin-left: 300px;
    margin-right: 1290px;
    background-color:white;
    border-radius: 10px 10px 0px 0px ;
    border-color: black;
}
#panel2 ul li a{
    color: rgb(13, 13, 139);
    display: block;
    padding: 10px 20px;
    font-family:"Times New Roman";
    font-size:20px;
    font-weight:bold; 
    
}
#panel2 ul li a:hover{
    border-bottom: 2px solid rgb(245, 46, 46);
   
}

