*{
    margin: 0;
    padding: 0;
    font-family:"Yu Gothic UI Light";
    }
    
    /* BARRA DE NAVEGACION */
    header{
       height: 80px; 
       background: rgb(16, 0, 79);
       padding: 0 50px;
       display: flex;
       justify-content: space-between;
       align-items: center;
    }
    .latam{
        display: flex;
        font-weight: 200;
        
    }
    .latam img{
        width: 8rem;
        height:auto;
        margin-left: 120px;
    }
    .menu img{
        display: none;
       }
       .logo_responsive img{
           display: none;
       }
    
    .menu a{
        position: relative;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        padding: 20px;
        transition: 0.4s;
        font-size:15px;
        font-weight:bold;
        
        
    }
    .mostrar-menu,
    .esconder-menu{
       color: white;
       font-size: 30px;
       cursor: pointer; 
       display: none;
       transition: 0.4s;
    }
    .mostrar-menu{
        order: 1;
    }
    .menu a:hover,
    .mostrar-menu:hover,
    .esconder-menu:hover {
        background:rgb(44, 24, 131);
        padding: 10px;
        border-radius: 15px;
        
        
    }
    #check{
        display: none;
    }

    /*banner*/
    #banner{
        background-image: url(..//images/destinos.jpg);
        max-width: 80%;
        border-radius: 0px 0px 20px 20px;
        margin: 0 auto;
    }
    #banner{
        padding: 0 50px;
        height: 45vh;
        background-size:cover ; 
        background-position: center;
    }
    
    .contenido-banner{
        color:white ;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
    .contenido-banner h3{
        font-size: 35px;
        font-weight:500;
        padding: 10px 0px;
        font-family:"Yu Gothic UI Light";
    }

    /*Barra de navegacion */

    #panel {
        margin: 50px 150px; 
        align-items: left;
        
    }
    .barranav{
        display: flex;
        box-shadow: 0px 3px 3px 1px rgba(148, 145, 145, 0.329);
        align-items: left;
        margin: 10px;
        background: white;
        
    }
    .barranav a{
        position: relative;
        text-align: center;
        font-size: 15px;
        font-family:"Yu Gothic UI Light";
        font-weight: bold;
        background: white;
        padding:15px 40px;
        text-decoration: none;
        color: rgb(27, 0, 136);
        align-items: center;
        justify-content: space-between;
        
        
    }
    .barranav a:focus{
        border-bottom: 2px solid red;
        color: red;
    }

    #panel h2{
        padding: 30px 10px;
        color: rgb(27, 0, 136);
        font-weight: 500;
        font-family:"Yu Gothic UI Light";
    }
    
.inframe{
    border: none;
    margin: 0 auto;
    width: 100%;
    height: 1000px;
}

#contenido-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
footer{
    background: rgba(184, 184, 184, 0.342) ;
    padding:30px 0px;
    border-top: 1px solid rgb(128, 128, 128);
    display: flex;   
     
}

footer img{
    width:auto;
    height:3rem;
    padding-right:15px;
}
.texto-footer{
    margin-right:30px;
    color:rgb(136, 135, 135);
    font-size: 13px;
    display: flex;
    align-items: center;
}

.images-footer{
    display: flex;
    color:rgb(136, 135, 135);
    font-size: 13px;
    align-items: center;
    margin-left: 25px;
}

.images-footer img{
    width: 3rem;
    height:auto;
    padding:0px 10px;
}
.images2-footer img{
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 9rem;
    height:auto;
}
@media(max-width:768px){
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(44,24,131);
        right: -100%;
        top: 0;
        text-align: center;
        padding:  200px 0px;
        z-index:100;
        transition: 0.8s; 
        
    }
    .menu a:focus{
        border: 2px solid white;
    }
    .menu a{
        background:rgba(219, 218, 224, 0.445); ;
        border-radius: 20px;
        margin: 20px;
        display:block;
  }
  .menu img{
    float: left;
    display: block;
    width: 50px;
    transition: 0.8s;
    position: absolute;
    top: 5px;
  }

  .latam img{
    margin-left:0;
  }
  .logo_responsive img{
    display: block;
    width: 150px;
    margin: 100px 30px;
  }

  .esconder-menu{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #check:checked ~ .menu{
    right: 0;
  }
 
}